.header_container {
    display: flex;
    align-items: center;
    padding: 0 70px;
    justify-content: space-between;
    padding: 0px 70px;
    background: linear-gradient(92.04deg, #18184A 24.18%, #19398A 50.95%, #18184A 110.32%);
    box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
    color: white;
}

.header_container input {
    height: 25px;
    max-width: 250px;
    width: 250px;
    padding: 10px;
    border: none;
}

.search_bar{
    display: flex;
    align-items: center;
}

.search_bar span {
    margin-right: 12px;
    font-weight: 700;
    color: red;
    cursor: pointer;
}