.form {
  background-color: wheat;
  height: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .input_wrapper {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin-bottom: 15px;
      input {
        height: 20px;
        padding: 12px;
      }
    }
  }
}
