<div class="point_table">
  <div class="container">
    <div class="standings" [ngClass]="{ active: currentTable === 'STANDING' }">
      Standings
    </div>
    <div class="standings">Playoff's</div>
  </div>
  <div class="table">
    <p class="header">
      <span *ngFor="let head of table_headers">{{ head }}</span>
    </p>
    <div class="team" *ngFor="let team of team_values">
      <p class="name">
        <img [src]="team.logo" alt="team Logo" />
        <span>{{ team.name }}</span>
      </p>
      <span>{{ team.played }}</span>
      <span>{{ team.netrr }}</span>
      <span>{{ team.pts }}</span>
      <p class="team_form">
        <span
          *ngFor="let f of team.form"
          class="form"
          [ngClass]="{ lost: f === 'L', won: f === 'W' }"
          >{{ f }}</span
        >
      </p>
    </div>
  </div>
</div>
