@import "../../variable.scss";
.point_table {
  display: flex;
  color: $white-color;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .standings {
      width: 50%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
      color: $white-color;
      font-weight: 700;
      box-shadow: 0 3.30573px 6.61145px rgb(0 0 0 / 25%);
      padding: 7px 5px;
      &.active {
        background: $tab-color;
      }
    }
  }

  .table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8);
    height: 100%;

    .header {
      // display: flex;
      // justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(auto-fill, 80px);
      justify-content: center;
      justify-items: center;
      font-size: 14px;
    }

    .team {
      background-color: $white-color;
      margin-block: 3px;
      border: 3px solid #ddd;
      border-radius: 6px;
      color: #0000;
      align-items: center;
      // display: flex;
      display: grid;
      grid-template-columns: repeat(auto-fill, 80px);
      justify-content: center;
      justify-items: center;
      align-content: center;
      height: 38px;
      // justify-content: space-between;
      span {
        color: #000;
        font-size: 14px;
        font-weight: 700;
      }
      .name {
        display: flex;
        align-items: center;
        gap: 2px;
        font-weight: 700;
        img {
          width: 30px;
          margin-right: 4px;
        }
      }

      .team_form {
        display: flex;
        align-items: center;
        gap: 2px;
        .form {
          width: 24px;
          height: 24px;
          font-size: 12px;
          line-height: 24px;
          border-radius: 50%;
          text-align: center;
          color: $white-color;
          font-weight: bolder;
          &.lost {
            background-color: red;
          }
          &.won {
            background-color: green;
          }
        }
      }
    }
  }
}
