.team_wrapper{
    background-color: white;
    background: white;
}

.wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;

  }

  tr {
      height: 50px;
  }

  tr th{
    background: lightgoldenrodyellow;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.logo_wrapper{
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
